<%= render 'comments/form' %>

<% @comments.each do |comment| %>
	<div class="comment-box">
	<!-- I want to add the time and date when each individual comment was created  -->
		<span class="comment-box__left">
			<%= comment.created_at.strftime('%B %e, %Y at %l:%M %p') %>
			<%= link_to comment.user.email, user_path(comment.user.id) %>
		</span>
		
		<span class="comment-box__right">
			<% if current_user && (comment.user.id == current_user.id || current_user.admin?)  %>
			
				<%= link_to edit_post_comment_path(comment.post, comment) do %> 
					<i class="fa fa-pencil" aria-hidden="true" fa-lg></i>
				<%end%>

				<%= link_to [comment.post, comment], method: :delete do %> 
					<i class="fa fa-times" aria-hidden="true"></i>
				<%end%>

			<% end %>

		</span>
		<br>
	<%= comment.content %>


		

	</div>
<% end %>


