<% @comments.each do |comment| %>
<div class="comment-box">
<!-- I want to add the time and date when each individual comment was created  -->
  <p><%= comment.created_at.strftime('%B %e, %Y at %l:%M %p') %></p>
  <p><b><%= comment.user.email %></b></p>
  <p><%= comment.content %></p>


  <% if current_user && (comment.user.id == current_user.id || current_user.admin?)  %>
    <%= link_to "Delete comment",[comment.post, comment], method: :delete %>
    <%= link_to "Edit comment", edit_post_comment_path(comment.post, comment) %>
  <% end %>

</div>
<% end %>

<%= render 'comments/form' %>
