<%= form_with(model: post, local: true) do |form| %>
	<% if post.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

		<ul>
			<% post.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>


	<div class="posts-form-container">

		<div class="posts-form">

				<%= form.label :name %>
				<%= form.text_field :name, id: :post_name %>
			
				<%= form.label :description %>
				<%= form.text_area :description, id: :post_description %>
			
				<%= form.label :url %>
				<%= form.text_field :url, id: :post_url %>
			

			<div class="actions">
				<%= form.submit %>
			</div>
		

		</div>
	</div>

<% end %>