<p id="notice"><%= notice %></p>


<div class="post-container">

	<div class="post-container__links">
		<% if current_user && (@post.user.id == current_user.id || current_user.admin?) %>
			
			<%= link_to edit_post_path(@post), class:"icons" do %> 
					<i class="fa fa-pencil" aria-hidden="true" fa-lg></i>
				<%end%>

				<%= link_to @post, :method => :delete, :confirm => "Are you sure?" , class:"icons" do %> 
					<i class="fa fa-times" aria-hidden="true"></i>
				<%end%>


			<%# link_to 'Edit', edit_post_path(@post) %>
			<%# link_to 'Delete', @post, :method => :delete, :confirm => "Are you sure?" %>
		<% end %>

	</div>


	<div class="post-container__nextprev">
		
		<% if @post.previous %>
			<%= link_to(@post.previous, class:"prevbtn") do %>
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			<%end %>
		<% end %>

		<%= link_to("Next Post", @post.next, class:"nextbtn") if @post.next %>
	</div>

	
	

	<p>Submitted by <%= link_to @post.user.email, user_path(@post.user.id) %> at <%= @post.created_at.strftime('%B %e, %Y at %l:%M %p') %></p>

	<img src="<%= @post.url %>" alt="" class="post-container__image">


	<p class="post-name">
		<%= @post.name %>
	</p>

	<p>
		Tags: <%= raw @post.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(", ") %>
	</p>

	<p>
		<%= @post.description %>
	</p>


</div>

<div class="comments-container">
		<%= render 'comments/comment' %>
		
</div>
