<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <img src="<%= @post.url %>" alt="">
</p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>



<% if current_user && @post.user.id == current_user.id %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
	<%= link_to 'Back', posts_path %>
<% end %>
